.*
!/.gitignore
/build/
/.classpath/
/.settings/
.project
/util/DBConnection.a\java
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
